# Stage 1: Vision Prior (FLUX)
diffusers
transformers
accelerate
sentencepiece
protobuf

# Stage 2: TRELLIS.2 Core & Post-processing
einops
opencv-python-headless
imageio
imageio-ffmpeg
tqdm
easydict
ninja
trimesh
gradio==6.0.1
tensorboard
pandas
lpips
zstandard
psutil
packaging
kornia
timm
git+https://github.com/EasternJournalist/utils3d.git@9a4eb15e4021b67b12c460c7057d642626897ec8

# Stage 3: Mesh Refinement
pymeshlab

# Stage 4: UniRig & Animation
python-box
lightning
torch_geometric
fast-simplification
pyrender
pyopengl
scipy
numpy
